.ant-drawer-body {
  padding-top: 0 !important;
}
.filter-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.14);
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  background: #fff;
  z-index: 1000;
}
.filter-panel > * {
  margin: 10px;
}


